button.add-task-button {
    margin-left: 10px;
}

div.all-tasks {
    margin-top:10px;
}

ul.tasks-list {
    list-style: none;
    padding-left: 10px;
}

.col-lg-6.task-part {
    background: rgba(247, 241, 241, 0.29);
    border-radius:10px;
}
